* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
body {
  margin: 0;
  position: relative;
  background: linear-gradient(89.38deg, #85d5f7 -8.33%, #120b59 162.53%);
  /* overflow: hidden; */
}
header {
  position: sticky;
  top: 0px;
  left: 0px;
  padding: 16px 0px;
  background: rgba(217, 235, 242, 0.5);
  box-shadow: 0px 0px 6.3px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  z-index: 2;
}
.navbar {
  width: 80%;
  overflow: hidden;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.82px;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.navbar a {
  float: left;
  display: block;
  color: #1e2223;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}
.navbar .icon {
  display: none;
}
.btn {
  background: rgba(18, 11, 89, 1);
  color: white;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}
.hero {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hero > img {
  margin-top: -10rem;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 1778.77px;
  overflow: hidden;
}

.hero div {
  width: 80%;
  margin: 0px auto;
}

h2 {
  font-size: 50px;
  font-weight: 700;
  color: #120b59;
  line-height: 58.56px;
}
p {
  font-size: 20px;
  line-height: 27.29px;
  color: #1e2223;
}

h5 {
  font-weight: 800;
  font-size: 24px;
  line-height: 32.74px;
}
#current {
  background: #ffffff;
}
#current-training {
  background: #94d9f8;
}
.hero-sub {
  position: absolute;
  top: 10rem;
  padding: 0px, 20px;
  display: flex;
  width: 100%;
  z-index: 1;
  gap: 4px;
}
.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 60.12%;
}
.hero-info h2 {
  max-width: 480px;
  margin-bottom: 10px;
}
.hero-info button {
  width: 180px;
  background: rgba(217, 235, 242, 0.25);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  line-height: 32.74px;
}
.nurse-old-woman {
  background: rgba(217, 235, 242, 0.25);
  padding: 24px;
  border-radius: 42px;
  overflow: hidden;
  position: relative;
  max-width: 580px;
  height: 530px;
}

.nurse-old-woman img {
  width: 100%;
  height: 100%;
  border-radius: 42px;
  position: absolute;
  top: 0;
  left: 0;
}
.about {
  background: linear-gradient(182.04deg, #699dca -1.66%, #120b59 100.08%);
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-top: -60rem;
}
.about > div {
  width: 80%;
  /* border: 1px solid red; */
}
.about-sub {
  width: 92%;
  margin-top: 163px;
  margin-bottom: 94px;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 40px;
}
.about-sub p {
  margin-top: 42px;
  margin-bottom: 22px;
  width: 50%;
  max-width: 440px;
}
.req-btn {
  border: none;
  width: 20%;
}
.nurse-container {
  width: 700px;
  height: 1053px;
  position: absolute;
  top: 0px;
  right: 72px;
}
.nurser-container img {
  width: 80%;
}
.testimonials {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  /* height: 700px; */
}
.testimonials > img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.testimonials-main {
  width: 80%;
  margin-top: 144px;
  color: white;
  z-index: 1;
}
.testimonials-sub {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 32px; */
  row-gap: 32px;
  margin-top: 90px;
}

.testimonials-card {
  width: 48%;
  padding: 24px 10px 24px 30px;
  background-color: rgba(26, 26, 100, 0.4);
  border-radius: 4px;
}

.testimonials h2,
.testimonials-card h2 {
  color: white;
  font-size: 32px;
  line-height: 24.66px;
  font-weight: 700;
}
.testimonials p {
  color: white;
  font-size: 20px;
  line-height: 27.29px;
  margin-bottom: 12px;
}
.book-consultation {
  width: 30%;
  margin: 30px auto;
}
.booking-heading {
  color: white;
}
.booking-btn {
  background: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #120b59;
  width: 100%;
  font-size: 24px;
  line-height: 20.74px;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
}
.why-humucare {
  display: flex;
  justify-content: center;
  background: #bbcbd9;
}
.why-humucare-main {
  width: 80%;
  margin-top: 144px;
}
.service-details {
  display: flex;
  gap: 4px;
  margin-bottom: 20px;
  /* align-items: end; */
  /* padding-top: auto; */
}
.service-details article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.service-slider-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* align-items: end; */
  justify-content: end;
}
.service-slider-img {
  border-radius: 18px;
  width: 90%;
  height: 80%;
}
.dot-container {
  display: flex;
  gap: 4px;
  margin-left: 20px;
}
.dot {
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background: #120b59;
  cursor: pointer;
  margin-top: 10px;
}
.training-course {
  display: flex;
  justify-content: center;
  background: #ffffff;
}
.training-course-main,
.contact-main,
.footer-main {
  width: 80%;
  margin-top: 133px;
}
.training-course-details {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 4px;
  margin-top: 80px;
  margin-bottom: 20px;
  border-radius: 7.68px;
  box-shadow: 0px 0px 7.8px -1px #00000040;
  background: #ffffff;
  /* opacity: 0.1; */
  padding: 35px;
}
.training-course-details article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 100%;
  margin-top: 4rem;
}

.training {
  width: 40%;
  margin-top: 4rem;
}

.training-slider-container {
  width: 60%;
  height: 100%;
  /* position: relative; */
}
.training-slider-img {
  border-radius: 18px;
  width: 100%;
  height: 80%;
  /* position: absolute; */
  top: 0px;
  left: 0px;
  /* object-fit: cover; */
}
.contact {
  display: flex;
  justify-content: center;
  margin-top: -5rem;
  background: linear-gradient(357.18deg, #ffffff 44.92%, #7ebfe3 171.47%);
}
.contact-main {
  margin-bottom: 4.75rem;
}
.address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4.75rem 0rem;
}
.contact-icons {
  width: 19.96px;
  height: 24px;
}
.address-heading {
  display: flex;
  align-items: center;
  gap: 4px;
}
.map > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px;
  max-height: 509px;
}
.footer {
  background: #0e0b34;
  display: flex;
  justify-content: center;
}
.footer-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-nav {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}
.footer-links {
  width: fit-content;
  display: flex;
  gap: 8px;
  cursor: pointer;
  flex-direction: column;
}
.footer-links button {
  border: none;
}
.footer-logo {
  background: #ffffff;
  border-radius: 4px;
  padding: 5px;
  width: fit-content;
}
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
